@font-face {
    font-family: "Oxanium";
    src: url(/assets/fonts/Oxanium-VariableFont_wght.ttf);
}



/* Remove margens e preenchimentos padrão de todos os elementos */

*{
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão*/
    box-sizing: border-box; /* Inclui bordas e preenchimento no tamanho total do elemento */
    font-family: 'Oxanium', cursive; /*Define a fonte como "Oxanium" com estilo cursiso*/
}

/* Estiliza o corpo da página */

body {
    text-align: center; /* Centraliza o texto horizontalmente*/
    background: linear-gradient( to bottom, #6ab7f5, #fff); /* Aplica um gradiente de azula (cima) para branco (baixo)*/
    min-height: 100vh; /* Garante que o corpo tenha no mínimo a altura da janela do navegador*/
}

/* Estiliza a área principal */
main {
    display: inline-block; /* Faz com que o main ocupe apenas o espaço necessário */
    margin-top: 2%; /* Adiciona um espaçamento no topo */
    padding: 15px; /* Adiciona um preenchimento interno */
    position: relative; /*Define a posição relativa para ajustar elementos filhos */
}

/* Define o tamanho máximo da "pokedex" */
.pokedex {
    width: 100%; /* Define a largura como 100% do container pai*/
    max-width: 425px; /* Limita a largura máxima para 425px*/
}

/* Posiciona a imagem do pokémon */

.imagem_pokemon {
    position: absolute; /* Posiciona a imagem em relação ao contêiner pai */
    bottom: 55%; /* Move a imagem 55% da parte inferior do contêiner */
    left: 50%;/* centraliza horizontalmente */
    transform: translate(-63%, 20%); /* Ajusta a posição com um deslocamento relativo */
    height: 18%; /* Define a altura de imagem como 18% da altura do contêiner */
}

/* Estiliza a área que mostra os dados do pokémon*/

.dados_pokemon {
    position: absolute; /* posiciona os dados em relação ao contêiner pai*/
    font-weight: 600; /* define a fonte como semi-negrito */
    color: #aaa; /* Define a cor do texto como cinza claro */
    top: 54.5%; /* define a posição superior como 54.5% */
    right: 27%; /* DEfine a posição à direita como 24% */
    font-size: clamp(8px, 5vw, 25px); /* Ajusta o tamanhho da fonte entre 8px e 25px com base no tamnho do viewport */
}

/* Estiliza o nome do pokémon*/

.nome_pokemon {
    color: #3a444d; /* Defina a cor do texto como cinza escuro */
    text-transform: capitalize; /* faz com que a primeira letra de cada palavra fique maiúscula*/
}

/* Estiliza o formulário de busca*/

.formulario {
    position: absolute; /* posiciona o formulário em relação ao contêiner pai */
    width: 65% ; /* define a largura como 65% */
    top: 65%; /* Define a posição superior como 65% */
    left: 13.5%; /* Define a posição à esquerda como 13.5 */
}

/* Estiliza o campo de busca*/

.campo_busca {
    width: 100%; /* Define a largura do campo como 100% do contêiner pai */
    padding: 4%; /* Adiciona um preenchimento interno*/
    outline: none; /* Remove o contorno padrão ao clicar no campo*/
    border: 2px solid #333; /* Define uma borda de 2px com cor cinza escuro */
    border-radius: 5px; /* Adiciona bordas arredondadas*/
    font-weight: 600; /* Define o texto como semi-negrito */
    color: #3a444d; /* Define a cor do texto como cinza escuro */
    font-size: clamp(8px, 5vw, 1rem); /* ajusta o tamanho da fonte enter 8px e 1rem*/
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333; /* Adiciona um sombreamento 3D*/
}

.botoes{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.botao:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.botao{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}